{% extends 'base.html' %} {% block content %}

<h1>Tea Details</h1>

<
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ tea.name }}</span>
        <p>Type: {{ tea.type }}</p>
        <p>Description: {{ tea.description }}</p>
        {% if tea.age > 0 %}
        <p>Age: {{ tea.age }}</p>
        {% else %}
        <p>Age: Unopened</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'teas_update' tea.id %}">Edit</a>
        <a href="{% url 'teas_delete' tea.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form method="post">
      {% csrf_token %} 
      {{ sweetening_form.as_p }}
      <input type="submit" class="btn" value="Add Feeding" />
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Style</th>
        </tr>
      </thead>
      <tbody>
        {% for sweetening in tea.sweetening_set.all %}
        <tr>
          <td>{{sweetening.date}}</td>
          <td>{{sweetening.get_style_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  // date picker
  var dateEl = document.getElementById("id_date");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });

  // dropdown for style(sweetening)
  var selectEl = document.getElementById("id_style");
  M.FormSelect.init(selectEl);
</script>
{% endblock %}
